{{#partial "content"}}
<div class="container-fluid text-white">
    <div class="row">
        <div class="col-sm-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./images/vibe1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./images/vibe3.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./images/pata1.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-5 d-flex flex-column justify-content-center">
            <h5 class="text-center ">Personal Projects!</h5>
            <!-- <h5 class="">I Am a Software Engineer</h5> -->
            <p class="yes text-justify"> Software engineering requires analyzing user requirements and then designing, building, and testing software application which will satisfy that requirements. The characteristics of any software product include features which are displayed by the product when it is installed and put in use. Any software should be judged by what it offers and what are the methods which help you to use it.</p>
            <p class="align-self-center d-flex justify-content-around" style="width:50% ;">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-github"></i>
            </p>
        </div>
    </div>
    <div class="row p-1 justify-content-evenly mt-2">
        {{#each projects}}
            <div class="col-sm-4">
            <a href="/singleProject/{{id}}">
                    <div class="cont1 m-2 p-1">
                        <h5 class="yes text-center">{{name}}</h5>
                        <img src={{url1}} class="projects" alt="">
                        <p class="yes text-center">{{status}} ..To get more details about the project click on the button below</p>
                        <p>Created at:{{created_at}}</p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex w-25 ">
                                <i class="fa-solid fa-thumbs-up"></i>
                                <i class="fa-solid fa-thumbs-down"></i>
                            </div>
                            <button class="btn">View Repository</button>
                        </div>
                    </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>
{{/partial}}
{{>layout.hbs}}