{{#partial "content"}}
<div class="container-fluid text-white">
    <div class="row justify-content-around">

        <h4 class="text-center my-4">Welcome to {{project.name}}</h4>

        <div class="col-sm-3 d-flex align-items-center justify-content-center">
            <img style="height:auto; width:98%; border-radius: 5px;" src={{project.url1}}>
<!--            <div class="ten"></div>-->
        </div>
        <div class="col-sm-7">

            <div class="w-100">
<!--                <div class="w-75 me-5">-->
<!--                    -->
<!--                </div>-->
                <p class="text-center mt-3">Project Description</p>
                <p>{{project.status}}</p>

            </div>

        </div>

        <div class="col-sm-2 ">
            <p class="text-center mt-3">Project Details</p>
            <div class="w-100 d-flex flex-column align-items-start justify-content-start mt-4" style="height: 90%;">
                <p>Project-Type: <span>{{project.type}}</span> </p>
                <p>Languages-used: <span>{{project.language_used}}</span> </p>
                <p>Created-at: <span>{{project.created_at}}</span> </p>
            </div>
        </div>
        <marquee behavior="" direction="">Click on the icon below to view the projects full repository.</marquee>
        <p class="text-center mt-3">
            <i class="fa-brands fa-github" style="font-size: 25px;"></i>
        </p>

    </div>
    <div class="row justify-content-center align-items-center cont1 my-3">
        <h5 class="text-center mt-2">{{project.name}} Objectives</h5>
        <div class="col-sm-3 main2 my-2">
            <p class="my-2" style="font-size: 15px;">{{project.name}} information</p>
            <img src={{project.url2}} alt={{project.name}}>
            <p>{{project1.status}} </p>
            <div class="rate d-flex my-2">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>

        </div>
        <div class="col-sm-3 main2 my-2">
            <p class="my-2" style="font-size: 15px;">Index page</p>
            <img src={{project.url1}} alt={{project.name}}>
            <p>{{project2.status}}</p>
            <div class="rate d-flex my-2">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
        <div class="col-sm-3 main2 my-2">
            <p class="my-2" style="font-size: 15px;">About</p>
            <img src={{project.url3}} alt={{project.name}}>
            <p>{{project3.status}}</p>
            <div class="rate d-flex my-2">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{>layout.hbs}}